*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 100%;
}

#body{
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

header{
  width: 100%;
  margin-top: 14px;
  padding: 0px 10px;
  position: relative;
}
header ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header ul li{
  margin-right: 20px;
}
header ul li a{
  text-decoration: none;
  font-size: 13px;
  color: #111;
}
header button{
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  background-color: #4584ef;
  border: none;
  color: white;
}
#body header ul li>span img{
  vertical-align: middle;
  opacity: 0.5;
}
#body header ul img:hover{
  cursor:pointer;
  opacity: 1.0;
}
@media only screen and (max-width: 1000px){
  section.main{
    width: 600px;
  }
  footer{
    width: 1000px;
    position: fixed;
  }
  footer .row2 ul li a{
    white-space: nowrap;
  }
  .AppTray{
    position: absolute;
    top: 56px;
    right: 31px;
  }
}
.AppTray{
  background: #fff;
  text-align: center;
  position: absolute;
  width: 325px;
  top: 70px;
  right: 35px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  height: 440px;
  overflow-y: auto;
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  visibility: hidden;
}
.AppTray .app-icon{
  display: inline-block;
  width: 33.333%;
  padding: 8px 8px;
  text-align: center;
  margin-bottom: 15px;
}
.AppTray .app-icon:hover{
  background: rgba(66,133,244,0.2);
  border-radius: 5px;
  border: none;
}
.app-icon:nth-of-type(3):hover p{
  white-space: normal;
}
.AppTray::-webkit-scrollbar{
  overflow-y: hidden;
  height: 50%;
  width: 8px;
  background: #fff;
}
.AppTray::-webkit-scrollbar-thumb{
  background: #eee;
  border-radius: 15px;
}

.AppTray .app-icon img{
  width: 40px;
  height: auto;
}
.app-icon p{
  margin-top: 7px;
  white-space: nowrap;
  overflow: hidden;
  width: 70px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Helvetica, Arial, Calibri, sans-serif;
  color: rgb(0,0,0);
  font-weight: 200;
}
#bars{
  position: absolute;
  top:50%;
  transform: translate(20px,-50%);
  z-index: 1;
  visibility: hidden;
}
header ul a:hover{
  color: rgba(0,0,0,0.7);
  text-decoration: underline;
}
header ul img:hover{
  opacity: 1.0;
}
section.main{
  margin-bottom: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 50%;
  min-width: 520px;
}
section .imagelinks{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .imagelinks a:nth-child(2){
  position: absolute;
  right: 4.2%;
  top: 78%;
  opacity: 0.8;
}
@media only screen and (max-width: 1170px){
  .searchbox{
    min-width: 96%;
  }
}
@media only screen and (max-width: 700px){
  footer .row2{
    display: flex;
    flex-flow: column nowrap;
  }
}
@media only screen and (max-width: 520px){
  .imagelinks>a:first-child img{
    width: 480px;
  }
}
@media only screen and (min-device-width: 400px) and (max-device-width: 600px){
  section{
    width: 100%;
  }
  .imagelinks>a:first-child img{
    width: 99%;
  }
}
section .searchbox{
  margin-top: 23px;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right:auto;
}
.searchbox input{
  border: 1px solid #ddd;
  border-radius: 23px;
  width: 100%;
  padding: 12px 36px 12px 48px;
  font-size: 15px;
}
.searchbox input:hover{
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}
section .searchbox .icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:0;
  padding: 12px 18px;
  width: 100%;
  pointer-events: none;
}
.icons img{
  width: 18px;
  height: 18px;
  opacity: 0.8;
}
section .buttons{
  min-width: 90vw;
  margin: 30px 0px;
  text-align: center;
  width: 100%;
}
div.buttons input:active{
  border-color: rgba(0,0,255,0.3);
}
.buttons input{
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fafafa;
  color: #333;
  padding: 10px 15px;
}
.buttons input:hover{
  border: 1px solid #ddd;
}
section.main .languages{
  min-width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languages ul{
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.languages ul li{
  margin: 0 5px;
}
.languages ul li a{
  text-decoration: none;
  color: rgba(32,10,165,1.0);
}
.languages ul li a:hover{
  text-decoration: underline;
}
footer{
  font-family: Arial, sans-serif;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #777;
  background-color: #f1f1f1;
}
footer .row{
  border-top: 1px solid #ddd;
}
footer .row2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .row1{
  padding: 11.6px 30px;
  font-size: 15px;
}
footer .row2 ul{
  padding: 11.6px 28px;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  list-style: none;
}
footer .row2 ul li{
  margin-right: 28px;
}
footer .row2 ul li a{
  text-decoration: none;
  color: #777;
}
footer .row2 ul:nth-child(2){
  padding: 11.6px 1px 11.6px 28px;
}
footer .row2 ul li a:hover{
  text-decoration: underline;
}
footer .row2 ul li a:active{
  color: red;
}
.buttons form input:active{
  border-color: rgba(0,0,255,0.7);
}
